<style>
    .card {
        width: 25vw;
    }
</style>

<div class="container is-fluid">

    <div class="tabs">
        <ul>
            {{#each indexes}}
                <li><a href="/verbes?index={{index}}">{{index}}</a></li>
            {{/each}}
        </ul>
    </div>

    <h1 class="title">{{title_content}}</h1>

    <div class="notification">

        <div class="task-container columns is-multiline">

            {{#each verbs}}
                <div class="column">
                    <a href="/verbes/{{nameUTF8}}"
                       target="_blank"
                       style="text-decoration: none;">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{imageURL}}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">{{name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>